In [2]:
import pandas as pd

# Load and clean data_1
data_1 = pd.read_csv('scrapped jobs.csv')
data_1 = data_1[['job_title', 'company_location']]  # Keep only relevant columns
data_1['datePublication'] = 2024  # Add the 'datePublication' column with a default value

# Load and clean data_2
data_2 = pd.read_csv('French jobs dataset.csv')
data_2 = data_2[['adresseOffre', 'intitule', 'datePublication']]
data_2 = data_2.rename(columns={'adresseOffre': 'company_location', 'intitule': 'job_title'})
data_2['datePublication'] = data_2['datePublication'].str.split('T').str[0]  # Ensure date format

# Load and clean data_3
data_3 = pd.read_csv('data_science_canada_march_2024.csv')
data_3 = data_3[['location', 'publishedAt', 'title']]
data_3 = data_3.rename(columns={'location': 'company_location', 'publishedAt': 'datePublication', 'title': 'job_title'})

# Load and clean data_4
data_4 = pd.read_csv('linkedin_canada.csv')
data_4 = data_4[['location', 'publishedAt', 'title']]
data_4 = data_4.rename(columns={'location': 'company_location', 'publishedAt': 'datePublication', 'title': 'job_title'})

# Load and clean data_5
data_5 = pd.read_csv('linkedin-jobs-africa.csv')
data_5 = data_5[['title', 'location', 'posted_date']]
data_5 = data_5.rename(columns={'location': 'company_location', 'posted_date': 'datePublication', 'title': 'job_title'})

# Load and clean data_6 (same as data_5, adjust if different)
data_6 = pd.read_csv('linkedin-jobs-africa.csv')
data_6 = data_6[['title', 'location', 'posted_date']]
data_6 = data_6.rename(columns={'location': 'company_location', 'posted_date': 'datePublication', 'title': 'job_title'})

# Load and clean data_7
data_7 = pd.read_csv('linkedin-jobs-usa.csv')
data_7 = data_7[['title', 'location', 'posted_date']]
data_7 = data_7.rename(columns={'location': 'company_location', 'posted_date': 'datePublication', 'title': 'job_title'})

# Combine all cleaned DataFrames
combined_data = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7], ignore_index=True)

# Display the combined DataFrame
print(combined_data.head())
print(combined_data.shape)

                           job_title  \
0                   Data Analyst H/F
1                     Data Scientist
2  Junior Financial Business Analyst
3                  Media Data intern
4           Data Scientist Assistant

                             company_location datePublication
0           Greater Paris Metropolitan Region            2024
1                    Reims, Grand Est, France            2024
2  Issy-les-Moulineaux, Île-de-France, France            2024
3                Paris, Île-de-France, France            2024
4              Montpellier, Occitanie, France            2024
(10796, 3)

In [3]:
import pandas as pd

# Assuming combined_data is the final DataFrame after all processing
combined_data.to_csv('combined_jobs_data.csv', index=False)

In [4]:
data= pd.read_csv('combined_jobs_data.csv')

In [6]:
data.tail()

                 job_title                 company_location datePublication
10791  Junior Data Analyst             Texas, United States      2022-10-21
10792   Data Analyst (SQL)  New York City Metropolitan Area      2022-10-26
10793         Data Analyst                    Mishawaka, IN      2022-11-17
10794         Data Analyst      Nashville Metropolitan Area      2022-11-14
10795         Data Analyst                      Burbank, CA      2022-11-14