In [1]:
import csv
from datetime import datetime

# Input and output file paths
input_file = "C:\\Users\\User\\Desktop\\Project\\2-Cleaning_Data\\combined_jobs_data.csv"
output_file = "C:\\Users\\User\\Desktop\\Project\\2-Cleaning_Data\\cleaned_jobs_data.csv"

def standardize_date(date_str):
    # Handle different date formats
    for fmt in ("%Y", "%d/%m/%Y", "%Y-%m-%d"):
        try:
            return datetime.strptime(date_str.strip(), fmt).strftime("%Y-%m-%d")
        except ValueError:
            pass
    return None

with open(input_file, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    rows = []

    for row in reader:
        row['datePublication'] = standardize_date(row['datePublication'])
        rows.append(row)

with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
    fieldnames = ['job_title', 'company_location', 'datePublication']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerows(rows)

print(f"Cleaned data has been written to {output_file}")

Cleaned data has been written to C:\Users\User\Desktop\Project\2-Cleaning_Data\cleaned_jobs_data.csv

In [27]:
import pandas as pd
data= pd.read_csv('cleaned_jobs_data.csv')
data.head()

,job_title,company_location,datePublication
0,Data Analyst H/F,Greater Paris Metropolitan Region,2024-01-01
1,Data Scientist,"Reims, Grand Est, France",2024-01-01
2,Junior Financial Business Analyst,"Issy-les-Moulineaux, Île-de-France, France",2024-01-01
3,Media Data intern,"Paris, Île-de-France, France",2024-01-01
4,Data Scientist Assistant,"Montpellier, Occitanie, France",2024-01-01

In [28]:
# Check for null values in the datePublication column
null_values = data['datePublication'].isnull().sum()

# Print the null values
print(null_values)

42

In [29]:
data.shape

(10796, 3)

In [30]:
# Drop rows with null values in the datePublication column
cleaned_data = data.dropna(subset=['datePublication'])

In [31]:
# Verify the null values have been removed
null_values_after = cleaned_data['datePublication'].isnull().sum()
print(f"Number of null values in datePublication after cleaning: {null_values_after}")

Number of null values in datePublication after cleaning: 0

In [32]:
# Remove periods and commas from the job_title and company_location columns
data['job_title'] = data['job_title'].str.replace('.', '', regex=False)
data['job_title'] = data['job_title'].str.replace(',', '', regex=False)

data['company_location'] = data['company_location'].str.replace('.', '', regex=False)
data['company_location'] = data['company_location'].str.replace(',', '', regex=False)

In [33]:

# Remove row 1262
data = data.drop(index=1262)

print("Row 1262 has been removed")

Row 1262 has been removed

In [34]:
# Save the updated DataFrame to a new CSV file
data.to_csv("preprocessed_jobs_data.csv", index=False)

print("Data has been cleaned and saved to 'updated_preprocessed_jobs_data.csv'")

Data has been cleaned and saved to 'updated_preprocessed_jobs_data.csv'

In [35]:
import pandas as pd

# Load the cleaned data
data = pd.read_csv("preprocessed_jobs_data.csv")
data.head()

,job_title,company_location,datePublication
0,Data Analyst H/F,Greater Paris Metropolitan Region,2024-01-01
1,Data Scientist,Reims Grand Est France,2024-01-01
2,Junior Financial Business Analyst,Issy-les-Moulineaux Île-de-France France,2024-01-01
3,Media Data intern,Paris Île-de-France France,2024-01-01
4,Data Scientist Assistant,Montpellier Occitanie France,2024-01-01

In [38]:


# Access row 1262
row_1262 = data.iloc[10000]

# Print the job_title from row 1262
print(row_1262)

job_title                           Data Analyst
company_location    North Carolina United States
datePublication                       2022-11-08
Name: 10000, dtype: object

In [39]:
import pandas as pd

# Load the cleaned data
data = pd.read_csv("preprocessed_jobs_data.csv")

# Select the first 500 rows
data_first_500 = data.head(500)

# Save the first 500 rows to a new CSV file
data_first_500.to_csv("first_500_rows.csv", index=False)

print("The first 500 rows have been saved to 'first_500_rows.csv'")

The first 500 rows have been saved to 'first_500_rows.csv'